# Project exclude paths
/venv/
/.idea
/.ipynb_checkpoints/
/.ipynb_checkpoints/*
/sports/mlb/chromedriver

/sports/mlb/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/sports/mlb/.ipynb_checkpoints/spotrac_analysis-checkpoint.ipynb
